body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 0;
  margin: 0;
}

#mem_config {
  margin: 0;
  width: 30%;
  min-height: 400px;
  min-width: 100px;
  max-width: 300px;
  float: left;
  padding: 10px 0;
  text-align: right;
}

#mem_game {
  width: 70%;
  float: left;
  padding: 10px 0;
}

#mem_grid {
  width: 400px;
  margin: 0 auto;
  padding: 0;
}

.mem_row {
  height: 100px;
  max-height: 100px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.mem_row div {
  height: 90px;
  width: 90px;
  max-height: 90px;
  max-width: 90px;
  margin: 5px;
  padding: 0;
  float: left;
  border-radius: 10px;
  box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.8);

  /* gradient from https://uigradients.com */
  background: #16A085;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #F4D03F, #16A085);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #F4D03F, #16A085); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mem_row div.mem_cellface {
  margin: 0;
  box-shadow: none;
  background: white;
}
