footer {
  font-size: 0.8em;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.github-logo {
  background-image: url('../images/github-mark/github-mark.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
}

#score {
  font-size: 3em;
}

.game-cell {
  margin: 0.2em;
  padding: 0;
  border-radius: 10px;
  box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.8);
  font-size: 5em;
  font-weight: bold;
  /* gradient from https://uigradients.com */
  background: #16A085;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #F4D03F, #16A085);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #F4D03F, #16A085); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cellface {
  margin: 0;
  padding: 0;
  border-radius: 10px;
  box-shadow: none;
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.visible,
.invisible {
  transition: all 0.5s ease-out;;
}